## Ignore temporary KiCad files
hardware_interface-backups/
production/
fp-info-cache
*.kicad_prl
*.kicad_pcb.lck
*.kicad_sch.lck
*auto_saved_files*
*autosave*
fabrication-toolkit-options.json

## Ignore build artefacts
build/
**/static_library/firmware/
**/microros_lib/

## Ignore ROS2 workspace files
build/
install/
log/
*.pyc
__pycache__/

## Ignore unused CubeMX files
.mxproject
.project
**/board/CMakePresets.json
starm-clang.cmake